* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgba(0, 0, 0, 0.6);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: grid;
    gap: 20px;
}

nav {
    padding: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgb(13, 110, 253);
    text-align: center;
}

nav a {
    padding: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav a:hover {
    background: rgb(0, 80, 170)
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 400px 0;
}

#container {
    display: grid;
    gap: 20px;
    width: 300px;
    padding: 0 15px 15px;
    border: 5px solid rgb(13, 110, 253);
}

input {
    padding: 15px;
    font-size: 18px;
    outline: none;
}

button {
    padding: 13px;
    font-size: 22px;
    color: rgb(0, 0, 0, 0.6);
}

button:hover,
button:focus {
    cursor: pointer;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: rgb(0, 80, 170);
    border: 2px solid rgb(255, 255, 255);
}

span {
    font-weight: bold;
    font-size: 22px;
}

section {
    margin: 0 20px;
}

h3 {
    padding-top: 15px;
}

p {
    text-align: justify;
}

footer {
    color: rgb(255, 255, 255);
    background: rgb(13, 110, 253);
    text-align: center;
}